<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all cardios
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new cardio
    </h2>

    <form action="/insert_cardio" method="post">
      <div class="form-group">
        <label for="cardio_type_box">
          Cardio type
        </label>

        <input type="text" id="cardio_type_box" name="query_cardio_type" class="form-control">
      </div>

      <div class="form-group">
        <label for="time_box">
          Time
        </label>

        <input type="time" id="time_box" name="query_time" class="form-control">
      </div>

      <div class="form-group">
        <label for="ex_id_box">
          Ex
        </label>

        <input type="text" id="ex_id_box" name="query_ex_id" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create cardio
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Cardio type
        </th>

        <th>
          Time
        </th>

        <th>
          Ex
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @cardios.each do |cardio| %>
      <tr>
        <td>
          <%= cardio.id %>
        </td>

        <td>
          <%= cardio.cardio_type %>
        </td>

        <td>
          <%= cardio.time %>
        </td>

        <td>
          <%= cardio.ex_id %>
        </td>

        <td>
          <%= time_ago_in_words(cardio.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(cardio.updated_at) %> ago
        </td>

        <td>
          <a href="/cardios/<%= cardio.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
