<hr>
<h2>You have worked out <%=Exercise.where({:user_id => session.fetch(:user_id)}).where("date >= ?", 30.days.ago).count%> times in the last 30 days!</h2>
<hr>
<div>
<h2>Lift Maxes</h2>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Bench Press
        </th>
        <th>
          Squat
        </th>
        <th>
          Deadlift
        </th>
        <th>
          Total
        </th>
      </tr>
      <tr>
        <td>
          <%if  @maxbench == nil %>
          0
          <%else %> 
          <%= @maxbench.weight%>
          <%end%>
    
        </td>

        <td>
          <%if  @maxsquat == nil %>
          0
          <%else %> 
          <%= @maxsquat.weight%>
          <%end%>
        </td>

        <td>
          <%if  @maxdeadlift == nil %>
          0
          <%else %> 
          <%=@maxdeadlift.weight%>
          <%end%>
        </td>
        <td>
        <%if @maxbench and @maxsquat and @maxdeadlift != nil%>
        <%= @maxbench.weight + @maxsquat.weight + @maxdeadlift.weight %>
        <%else%>
        Total unavailable
        <%end%>
        </td>
      </tr>
    </table>
  </div>
</div>

<hr>
<div>
<h2>BMI</h2>
</div>
<div>
<h4> <%=((703 * @current_user.weight).to_f/(((12*@current_user.height_ft)+@current_user.height_in)*((12*@current_user.height_ft)+@current_user.height_in)).to_f).round(2) %></h4>
</div>


<hr>
  <h5>
    Edit your account
  </h5>

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="d_o_b_box">Date of birth</label>
        <input id="d_o_b_box" name="query_d_o_b" value="<%= @current_user.d_o_b %>">
      </div>
      <div>
        <label for="height_ft_box">Height ft</label>
        <input id="height_ft_box" name="query_height_ft" value="<%= @current_user.height_ft %>">
        <label for="height_in_box">Height in</label>
        <input id="height_in_box" name="query_height_in" value="<%= @current_user.height_in %>">
      </div>
      <div>
        <label for="weight_box">Weight</label>
        <input id="weight_box" name="query_weight" value="<%= @current_user.weight %>">
      </div>
      <div>
        <label for="sex_box">Sex</label>
        <input id="sex_box" name="query_sex" value="<%= @current_user.sex %>">
      </div>
      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
