<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all weights
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new weight
    </h2>

    <form action="/insert_weight" method="post">
      <div class="form-group">
        <label for="lift_box">
          Lift
        </label>

        <input type="text" id="lift_box" name="query_lift" class="form-control">
      </div>

      <div class="form-group">
        <label for="sets_box">
          Sets
        </label>

        <input type="text" id="sets_box" name="query_sets" class="form-control">
      </div>

      <div class="form-group">
        <label for="reps_box">
          Reps
        </label>

        <input type="text" id="reps_box" name="query_reps" class="form-control">
      </div>

      <div class="form-group">
        <label for="weight_box">
          Weight
        </label>

        <input type="text" id="weight_box" name="query_weight" class="form-control">
      </div>

      <div class="form-group">
        <label for="ex_id_box">
          Ex
        </label>

        <input type="text" id="ex_id_box" name="query_ex_id" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create weight
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Lift
        </th>

        <th>
          Sets
        </th>

        <th>
          Reps
        </th>

        <th>
          Weight
        </th>

        <th>
          Ex
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @weights.each do |weight| %>
      <tr>
        <td>
          <%= weight.id %>
        </td>

        <td>
          <%= weight.lift %>
        </td>

        <td>
          <%= weight.sets %>
        </td>

        <td>
          <%= weight.reps %>
        </td>

        <td>
          <%= weight.weight %>
        </td>

        <td>
          <%= weight.ex_id %>
        </td>

        <td>
          <%= time_ago_in_words(weight.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(weight.updated_at) %> ago
        </td>

        <td>
          <a href="/weights/<%= weight.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
