<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Workout on <%= @exercise.date %>
    </h1>
    <dl>
      <dt>
        Workout type
      </dt>
      <dd>
      <%= @exercise.ex_type %>
      </dd>
    </dl>
  </div>
</div>
<%if @exercise.ex_type == "Weights" %>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Lift
        </th>

        <th>
          Sets
        </th>

        <th>
          Reps
        </th>

        <th>
          Weight in lbs
        </th>
      </tr>

      <% @weights.each do |weight| %>
      <tr>
        <td>
          <%= weight.lift %>
        </td>

        <td>
          <%= weight.sets %>
        </td>

        <td>
          <%= weight.reps %>
        </td>

        <td>
          <%= weight.weight %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<%else%>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Cardio type
        </th>

        <th>
          Distance
        </th>

        <th>
          Time
        </th>
      </tr>

      <% @cardios.each do |cardio| %>
      <tr>
        <td>
          <%= cardio.cardio_type %>
        </td>

        <td>
          <%= cardio.distance %>
        </td>

        <td>
          <%=cardio.time.to_s(:time)%>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<%end%>





<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit workout information
    </h2>

    <form action="/modify_exercise/<%= @exercise.id %>"  method="post" >
      <div class="form-group">
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" class="form-control" value="<%= @exercise.date %>">
      </div>

         <div class="form-group">
        <label for="ex_type_box">
          Workout type
        </label>
        <select id="ex_type_box" name="query_ex_type" value="<%@exercise.ex_type%>">
    <option>Weights</option>
    <option>Cardio</option>
    </select>
      </div>
      <button class="btn btn-block btn-primary">
        Update workout information
      </button>
    </form>
  </div>
</div>

<hr>

    <div>
      <div class="col">
        <a href="/my_workouts" class="btn">
          Go back
        </a>
        <a href="/delete_exercise/<%= @exercise.id %>" class="btn">
        <font color= "red">  Delete workout </font>
        </a>
      </div>
    </div>

