<!DOCTYPE html>
<html>
  <head>
    <title>Track My Workout</title>

    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

<% if session.fetch(:user_id) != nil%>
<nav class="navbar navbar-light" style="background-color: #9EDBFF;">
<ul class="nav nav-pills nav-fill">
 <li class="nav-item">
    <a class="navbar-brand" style="color: #132BFF;" href="/">Track My Workout</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/my_profile">My Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/my_workouts">My Workouts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user_sign_out">Sign out</a>
  </li>
</ul>
</nav>

<%else %>
<nav class="navbar navbar-light" style="background-color: #9EDBFF;">
<ul class="nav nav-pills nav-fill">
 <li class="nav-item">
    <a class="navbar-brand" style="color: #132BFF;">Track My Workout</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user_sign_in">Sign in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user_sign_up">Sign up</a>
  </li>
</ul>
</nav>
<%end%>





<%= yield %>
  </body>
</html>
